<h2>Contact Bethany's Pie Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="info@@bethanyspieshop.com" content="Contact us"></email>